html, body {
    height:100%;
 }
 
 #holder {
     min-height: 100%;
     position: relative;
        
 }


/* headers and page setup start */
.navbar .navbar-expand .navbar-light .bg-light {
    background-color: white;
} 

.navigation {
    background-color: white;
    border-bottom: solid lightgrey 1px;
}

.navbar-brand {
    background-color:#4aaaa5;
    color: white;
    margin: 0;
   padding: 18px;
   
}

#navbarNavDropdown {
    margin-top: 10px;
}

#contentsection {
    border: solid lightgrey 2px;
    margin-top: 4%;
    min-height: 500px;
    padding-bottom: 5px;
}

#sectionheader {
    margin:1%;
    padding: 1%;
    border-bottom: solid lightgrey 2px;
    color: #4aaaa5;
}
/* Headers and page setup end */




.submitbutton {
    padding-bottom: 2px;
}

#contentsection {
    max-width: 960px;
}




/* footer */
.footer {
    background-color: lightgrey;
    width: 100%;
    text-align:center;
    font-size: 8px;
    border-top: 2px solid #4aaaa5;
    padding-top: 30px;
    margin-top: 20px;
}