body {
    height:100%;
}
 
 #holder {
     min-height: 100%;
     position: relative;
     background-image: url(/bootstrap-portfolio/assets/images/checkerboard-cross.png);
 }
 


/* headers and page setup start */
 .navbar .navbar-expand .navbar-light .bg-light {
    background-color: white;
} 

.navigation {
    background-color: white;
    border-bottom: solid lightgrey 1px;
}

.navbar-brand {
    background-color:#4aaaa5;
    color: white;
    margin: 0;
   padding: 18px;
   
}

#navbarNavDropdown {
    margin-top: 10px;
}

#contentsection {
    border: solid lightgrey 2px;
    margin-top: 2%;
    margin-bottom: 2%;
    min-height: 500px;
}

#sectionheader {
    margin:1%;
    padding: 1%;
    border-bottom: solid lightgrey 2px;
    color: #4aaaa5;
}
/* Headers and page setup end */

.mainsection {
    margin-bottom: 2%;
}
img {
    max-height:140px;
    max-width:150px;
}
    
.text {
    position: absolute;
    bottom: 20%;
    background-color:#4aaaa5;;
    width: 60%;
    text-align: center;
    padding: 8px;
    color: white;
    
}
.icon {
    padding:20px;
    margin: 20px;
    align-content: center;
    border: solid  1px;
    min-height:190px;
    min-width:150px;
}

.submitbutton {
    padding-bottom: 2px;
}












.footer {
    background-color: lightgrey;
    width: 100%;
    text-align:center;
    font-size: 8px;
    border-top: 2px solid #4aaaa5;
    padding-top: 30px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}